@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div>
            <h3>Company data</h3>
            <table class="table table-striped table-sm">

                <tr>
                    <td><p>Name of the company</p></td>
                    <td><p>Form</p></td>
                    <td><p>Name of the employee</p></td>
                    <td><p>Surname</p></td>
                    <td><p>Patronymic</p></td>
                    <td><p>Title</p></td>

                </tr>
                    @foreach (var b in Model.Employees)
                    {
                       
                        <tr>
                            <td><p>@Model.Name</p></td>
                        <td><p>@Model.Form</p></td>
                        <td><p>@b.Name</p></td>
                        <td><p>@b.Surname</p></td>
                        <td><p>@b.Patronymic</p></td>
                        <td><p>@b.Title</p></td>
                    </tr>
                }
            </table>
            
        </div>
        <a href="/VCompanies/Companies">Back in the main page</a>

